html
    head
        style 
            include ../public/stylesheet/style.css
        title= title
    body
        h1= message

        .wrapper
            a.fancy-button.bg-gradient3(href="#")
                span Enlighten Me!
